{% extends 'base.html' %}

{% block search %}
    <div class="container">
        <div class="jumbotron">
            <h3 class="text-center">Search your movies</h3>
            <form id="searchForm">
                <input type="text" class="form-control" id="searchText" placeholder="search title...">
            </form>
        </div>
    </div>
    {% endblock %}

{% block rating %}
    {% if user.is_authenticated %}
        <div class="container text-center">
            <form action="{% url 'rating' %}" method="post" class="rating">
                {% csrf_token %}
                <label>
                    <input type="radio" name="stars" value="1" />
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="2" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="3" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="4" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
                <label>
                    <input type="radio" name="stars" value="5" />
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                    <span class="icon">★</span>
                </label>
            </form>
        </div>
    {% endif %}
{% endblock %}

{% block recommend %}
    <div class="container">
        <div class="row">
           <h3 class="mt-3">Recommendations</h3>
        </div>

        <div id="recommendations" class="row">
        </div>
    </div>
{% endblock %}

{% block script %}
    <script>
        getMovie();
    </script>
{% endblock %}