<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" integrity="sha512-1ycn6IcaQQ40/MKBW2W4Rhis/DbILU74C1vSrLJxCq57o941Ym01SwNsOMqvEBFlcgUa6xLiPY/NS5R+E6ztJQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://bootswatch.com/5/zephyr/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.min.js" integrity="sha384-Atwg2Pkwv9vp0ygtn1JAojH0nYbwNJLPhwyoVbhoPwBhjQPR5VtM2+xf0Uwh9KtT" crossorigin="anonymous"></script>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="{% url 'main' %}">Movie Recommendation</a>
            </div>
            <div  class="collapse navbar-collapse justify-content-end" id="navbarColor03">
                <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'home' %}">Content-based Recommendation</a>
                    </li>
                     {% if user.is_authenticated %}
                         <li class="nav-item">
                            <a class="nav-link" href="{% url 'userCuration' %}?genre={{ user.username }}">User based Recommendation</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" href="{% url 'ratingList' %}"> {{ user.username }}</a>
                         </li>
                         <li class="nav-item">
                            <a class="nav-link" href="{% url 'logout' %}">logout</a>
                         </li>
                         {% if user.is_staff %}
                         <li class="nav-item">
                            <a class="nav-link" href="{% url 'usersPages' %}">Admin</a>
                         </li>
                         {% endif %}
                     {% else %}
                         <li class="nav-item">
                             <a class="dropdown-item" href="{% url 'login' %}">Sign In</a>
                         </li>
                         <li class="nav-item">
                                <a class="dropdown-item" href="{% url 'register' %}">Sign Up</a>
                        </li>
                     {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    {% block main %}
    {% endblock %}

    <div class="row">
        {% block navbar %}
        {% endblock %}
    </div>

    {% block search %}
    {% endblock %}

    {% block content %}
    {% endblock %}

    <div class="container">
        <div id="movies" class="row">
        </div>
    </div>

    {% block rating %}
    {% endblock %}

    {% block recommend %}
    {% endblock %}

    {% block footer %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% load static %}
    <script src="{% static 'js/main.js' %}?ver=1.5"></script>
    {% block script %}
    {% endblock %}
</body>

</html>