<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <title>Movie Recommendation System</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}?ver=2">
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Movie Info</a>
            </div>
            <div>
                {% if user.is_authenticated %}
                    <a> {{ user.username }}</a>
                    <a href="{% url 'logout' %}">logout</a>
                {% else %}
                    <a href="{% url 'login' %}">Sign In</a>
                {% endif %}
            </div>
        </div>
    </nav>

    <div class="container">
        <div class="jumbotron">
            <h3 class="text-center">Search your movies</h3>
            <form id="searchForm">
                <input type="text" class="form-control" id="searchText" placeholder="search title...">
            </form>
        </div>
    </div>

    {% block content %}
    {% endblock %}

    <div class="container">
        <div id="movies" class="row">
        </div>
    </div>

    {% block rating %}
    {% endblock %}

    {% block recommend %}
    {% endblock %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    {% load static %}
    <script src="{% static 'js/main.js' %}?ver=6"></script>
    {% block script %}
    {% endblock %}
</body>

</html>